{% extends "layout.html" %}

{% block title %}
    quoted
{% endblock %}

{% block main %}
    <div class="table table-striped">
        <table>
            <thead>
                <tr>
                    <th class="text-start">Symbol</th>
                    <th class="text-start">Name</th>
                    <th class="text-end">Shares</th>
                    <th class="text-end">Price</th>
                    <th class="text-end">TOTAL</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for symbol in sym_l %}
                    <td class="text-start">
                            {{ symbol }}
                    </td>
                    {% endfor %}
                    {% for name in name_l %}
                    <td>
                         {{ name }}
                    </td>
                    {% endfor %}
                    {% for shares in shares_l %}
                    <td>
                            {{ shares }}
                    </td>
                    {% endfor %}
                    {% for price in price_l %}
                    <td>
                            {{ price }}
                    </td>
                    {% endfor %}
                    {% for total in total_l %}
                    <td>
                            {{ symbol }}
                    </td>
                    {% endfor %}
                </tr>
                <tfoot>
                    <tr>
                        <td class="border-0 fw-bold text-end" colspan="4">Cash</td>
                        <td class="border-0 text-end"></td>
                    </tr>
                    <tr>
                        <td class="border-0 fw-bold text-end" colspan="4">TOTAL</td>
                        <td class="border-0 w-bold text-end"></td>
                    </tr>
                </tfoot>
            </tbody>
        </table>
    </div>
{% endblock %}
