{% extends "layout.html" %}

{% block title %}
    sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <select name="symbol" required>
            <option disabled selected>symbol</option>
            {% for symbo in user_sym %}
            <option value="{{ symbo.symbol }}" >{{ symbo.symbol }}</option>
            {% endfor %}
        </select>
        <br>
        <br>
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="sha" min="1" name="shares" placeholder="shares" type="number" required>
        <br>
        <button class="btn btn-primary" type="submit">submit</button>
    </form>
{% endblock %}
